# EDA003,EDA004でmin_latをid_latにしていたものをid_lat_meshに変更する。
- prediction_data\parameter_lambda_0.019_iterate_1000_p3\envの項目でmesh_data,pred_dataを作り直す

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import folium
import utils

In [2]:
class CFG:
    make_folder = True
    note_num = "StackingOpt/EDA005"
    seed = 42


OUTPUT_DIR = f'H:/study/output/{CFG.note_num}/'

if CFG.make_folder:
    if not os.path.exists(OUTPUT_DIR):
        os.makedirs(OUTPUT_DIR)

# prediction_data\parameter_lambda_0.019_iterate_1000_p3\env

In [49]:
unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]
to_unique_id = [str(num).zfill(10) for num in unique_id]

lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")
id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)

In [50]:
import datetime

start_date = datetime.datetime(2013, 8, 15, 6, 30)
end_date = datetime.datetime(2014, 7, 31, 18, 0)

delta = datetime.timedelta(minutes=30)

date_range = []
date = start_date
while date <= end_date:
    if date.hour > 6 and date.hour < 18:
        date_range.append(date)
    elif date.hour == 18 and date.minute == 0:
        date_range.append(date)
    elif date.hour == 6 and date.minute == 30:
        date_range.append(date)
    date += delta

In [7]:
mesh_data_list,pred_data_list = [],[]
for i,dt in enumerate(date_range):
    mesh_data,pred_data = utils.get_prediction_data2(id_data,lat,lon,dt)
    mesh_data_list.append(mesh_data)
    pred_data_list.append(pred_data)

    mesh_data.to_csv(OUTPUT_DIR+f"mesh_data_{dt.strftime('%Y%m%d%H%M')}.csv")
    if i%int(len(date_range)*0.1)==0:
        print(f"{i/len(date_range)*100}%_finish")

preds = pd.concat(pred_data_list).reset_index(drop=True)
preds.to_csv(OUTPUT_DIR+"preds.csv",index=False)

0.0%_finish
9.995251661918328%_finish
19.990503323836656%_finish
29.985754985754987%_finish
39.98100664767331%_finish
49.97625830959164%_finish
59.971509971509974%_finish
69.96676163342829%_finish
79.96201329534662%_finish
89.95726495726495%_finish
99.95251661918329%_finish

In [51]:
dt= datetime.datetime(2013, 8, 15, 6, 30)
mesh_data,pred_data = utils.get_prediction_data2(id_data,lat,lon,dt)

In [52]:
mesh_data

,223,224,225,226,227,228,229,230,231,232,233,234
514,0.727028,0.726527,0.726897,0.723457,0.747670,0.733756,0.716889,0.697848,0.658058,0.623443,0.750777,0.805260
515,0.700364,0.665830,0.646264,0.646018,0.695120,0.734732,0.735449,0.782485,0.792571,0.770393,0.746308,0.791868
516,0.659279,0.588107,0.547686,0.552400,0.717598,0.787025,0.634583,0.782478,0.790280,0.773581,0.747749,0.756921
517,0.548106,0.494107,0.430836,0.516213,0.754242,0.810521,0.642361,0.777716,0.803290,0.784325,0.743182,0.731609
518,0.555130,0.533812,0.514433,0.709805,0.752445,0.857075,0.791505,0.794658,0.803047,0.753019,0.722977,0.698616
519,0.682947,0.631280,0.784324,0.660945,0.775459,0.803498,0.791774,0.819669,0.806742,0.719830,0.610816,0.668236
520,0.679681,0.536994,0.767278,0.637666,0.742706,0.772343,0.787639,0.814496,0.807731,0.750383,0.528726,0.659310
521,0.679837,0.669594,0.652738,0.700402,0.731018,0.756769,0.774609,0.799305,0.819116,0.795545,0.658157,0.673902
522,0.742740,0.832450,0.754763,0.672635,0.678484,0.720572,0.765209,0.788172,0.817750,0.771956,0.701830,0.683739
523,0.755870,0.890199,0.750931,0.851874,0.815671,0.704795,0.749796,0.784529,0.802379,0.777779,0.723135,0.689980
524,0.597094,0.731611,0.759413,0.858472,0.922330,0.760305,0.786695,0.825369,0.806308,0.777897,0.735229,0.698759
525,0.691807,0.716427,0.739420,0.761234,0.824545,0.794415,0.804215,0.851006,0.796544,0.766499,0.731783,0.712572
526,0.731768,0.694193,0.717708,0.713333,0.736567,0.732431,0.646234,0.775691,0.753183,0.746030,0.728745,0.731971
527,0.411664,0.767661,0.727263,0.676022,0.679966,0.693461,0.681483,0.717093,0.720060,0.723457,0.722881,0.734456
528,0.764801,0.827826,0.752745,0.723652,0.717163,0.716623,0.708323,0.706874,0.709168,0.709291,0.710955,0.719152
529,0.804668,0.807559,0.793107,0.764580,0.749367,0.725703,0.711093,0.704428,0.702364,0.701429,0.702449,0.709465

In [53]:
pred_data

         pred  id_lat_mesh  id_lng_mesh            datetime
0    0.727028        35.66       139.88 2013-08-15 06:30:00
1    0.726527        35.68       139.88 2013-08-15 06:30:00
2    0.726897        35.70       139.88 2013-08-15 06:30:00
3    0.723457        35.72       139.88 2013-08-15 06:30:00
4    0.747670        35.74       139.88 2013-08-15 06:30:00
..        ...          ...          ...                 ...
187  0.704428        35.80       140.18 2013-08-15 06:30:00
188  0.702364        35.82       140.18 2013-08-15 06:30:00
189  0.701429        35.84       140.18 2013-08-15 06:30:00
190  0.702449        35.86       140.18 2013-08-15 06:30:00
191  0.709465        35.88       140.18 2013-08-15 06:30:00

[192 rows x 4 columns]

# 予測精度を比較

In [19]:
import datetime

start_date = datetime.datetime(2013, 8, 15, 6, 30)
end_date = datetime.datetime(2014, 7, 31, 18, 0)

delta = datetime.timedelta(minutes=30)

date_range = []
date = start_date
while date <= end_date:
    if date.hour > 6 and date.hour < 18:
        date_range.append(date)
    elif date.hour == 18 and date.minute == 0:
        date_range.append(date)
    elif date.hour == 6 and date.minute == 30:
        date_range.append(date)
    date += delta

In [20]:
lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")
id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)
id_data = utils.get_mesh_round(id_data)

In [21]:
preds = pd.read_csv(OUTPUT_DIR+"preds.csv")
preds["datetime"] = pd.to_datetime(preds["datetime"])

preds = utils.get_mesh_round(preds)

In [22]:
df = utils.get_preprocessing_data(to_unique_id)
df["datetime"] = pd.to_datetime(df["datetime"])

df = df.merge(id_data[["id","id_lat_mesh","id_lng_mesh","pvrate","observed_max"]],on=["id"],how="left")
df = df[df.datetime.isin(date_range)]
df = df.merge(preds,on=["datetime","id_lat_mesh","id_lng_mesh"],how="left")

df["pred*two_weeks_max"] = df["pred"]*df["two_weeks_max"]
df["nv*twoweeks_max"] = df["nv"]*df["two_weeks_max"]

df["APE"] = np.abs(df["pred*two_weeks_max"]-df["nv*twoweeks_max"])/df["observed_max"]*100

In [23]:
df["APE"].mean()

4.55018584976423

In [24]:
df["month"] = df.datetime.dt.month
for month,group in df.groupby("month"):
    print(f"{month}月",group["APE"].mean() )
    print()

1月 2.9220290339265724

2月 4.3595401568670455

3月 3.4161880262356785

4月 4.602352728344397

5月 5.281020964368651

6月 6.372696092529986

7月 6.441590005625873

8月 4.996285441661768

9月 5.893530276542901

10月 4.624772906797589

11月 3.0896252373825726

12月 2.7488670186428776

In [25]:
df

,year,month,day,hour,flag,nv,two_weeks_max,id,minute,datetime,id_lat_mesh,id_lng_mesh,pvrate,observed_max,pred,pred*two_weeks_max,nv*twoweeks_max,APE
0,2013,8,15,6,2,0.654,390.0,10000095,30,2013-08-15 06:30:00,35.74,140.00,4.0,958.4000,0.742706,289.655480,255.0600,3.609712
1,2013,8,15,7,0,0.000,0.0,10000095,0,2013-08-15 07:00:00,35.74,140.00,4.0,958.4000,0.660924,0.000000,0.0000,0.000000
2,2013,8,15,7,0,0.000,0.0,10000095,30,2013-08-15 07:30:00,35.74,140.00,4.0,958.4000,0.602417,0.000000,0.0000,0.000000
3,2013,8,15,8,2,0.840,659.0,10000095,0,2013-08-15 08:00:00,35.74,140.00,4.0,958.4000,0.820720,540.854454,553.5600,1.325704
4,2013,8,15,8,2,0.864,701.4,10000095,30,2013-08-15 08:30:00,35.74,140.00,4.0,958.4000,0.786851,551.897242,606.0096,5.646114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834478,2014,7,31,16,2,0.368,2135.8,6910000470,0,2014-07-31 16:00:00,35.82,139.88,8.8,8510.7022,0.719209,1536.086860,785.9744,8.813755
834479,2014,7,31,16,2,0.379,1406.4,6910000470,30,2014-07-31 16:30:00,35.82,139.88,8.8,8510.7022,0.615990,866.328730,533.0256,3.916282
834480,2014,7,31,17,2,0.383,915.4,6910000470,0,2014-07-31 17:00:00,35.82,139.88,8.8,8510.7022,0.693868,635.166584,350.5982,3.343653
834481,2014,7,31,17,2,0.463,512.0,6910000470,30,2014-07-31 17:30:00,35.82,139.88,8.8,8510.7022,0.731145,374.346040,237.0560,1.613146
834482,2014,7,31,18,2,0.509,201.0,6910000470,0,2014-07-31 18:00:00,35.82,139.88,8.8,8510.7022,0.731177,146.966619,102.3090,0.524723

# nv,meshの確認
- nv_meshは同緯度経度、時間のmeshの平均にちかい。（正確でないのは、補完方法になにかある（nvからの補完はいじれていない))
- nv_meshを理想的に予測できたとして、平均APE 1.14%

In [40]:
mesh_place = pd.read_csv('H:/study/output/StackingOpt/EDA004/'+ 'mesh_place.csv')
mesh_place = utils.get_mesh_round(mesh_place)
mesh_place

          id_lat_mesh  id_lng_mesh  nv_mesh             datetime
0               31.50       131.06    1.000  2013-08-15 05:00:00
1               31.52       130.52    0.648  2013-08-15 05:00:00
2               31.66       130.32    0.777  2013-08-15 05:00:00
3               32.00       130.98    1.000  2013-08-15 05:00:00
4               32.02       130.74    0.982  2013-08-15 05:00:00
...               ...          ...      ...                  ...
19755486        38.68       141.20    0.845  2014-07-31 18:30:00
19755487        38.70       141.10    0.871  2014-07-31 18:30:00
19755488        38.82       141.56    0.871  2014-07-31 18:30:00
19755489        38.90       141.58    0.871  2014-07-31 18:30:00
19755490        39.16       141.16    0.720  2014-07-31 18:30:00

[19755491 rows x 4 columns]

In [45]:
preds = pd.read_csv(OUTPUT_DIR+"preds.csv")
preds["datetime"] = pd.to_datetime(preds["datetime"])

preds = utils.get_mesh_round(preds)

preds

             pred  id_lat_mesh  id_lng_mesh            datetime
0        0.727028        35.66       139.88 2013-08-15 06:30:00
1        0.726527        35.68       139.88 2013-08-15 06:30:00
2        0.726897        35.70       139.88 2013-08-15 06:30:00
3        0.723457        35.72       139.88 2013-08-15 06:30:00
4        0.747670        35.74       139.88 2013-08-15 06:30:00
...           ...          ...          ...                 ...
1617403  0.765240        35.80       140.18 2014-07-31 18:00:00
1617404  0.772405        35.82       140.18 2014-07-31 18:00:00
1617405  0.774025        35.84       140.18 2014-07-31 18:00:00
1617406  0.775956        35.86       140.18 2014-07-31 18:00:00
1617407  0.768818        35.88       140.18 2014-07-31 18:00:00

[1617408 rows x 4 columns]

In [41]:
df["datetime"] = pd.to_datetime(df["datetime"])
mesh_place["datetime"] = pd.to_datetime(mesh_place["datetime"])
df = df.merge(mesh_place,on=["id_lat_mesh","id_lng_mesh","datetime"],how="left")

In [42]:
#nv_meshがNaNなのは0の時だけ→id_lat_mesh等が上手くmerge出来ている。
df[df.nv_mesh.isnull()].nv.sum()

0.0

In [43]:
display(df[(df["id_lat_mesh"]==35.66)&(df["id_lng_mesh"]==140.10)&(df["datetime"]=="2013-08-15 06:30:00")])
print("nv_mean",df[(df["id_lat_mesh"]==35.66)&(df["id_lng_mesh"]==140.10)&(df["datetime"]=="2013-08-15 06:30:00")].nv.mean())

,year,month,day,hour,flag,nv,two_weeks_max,id,minute,datetime,id_lat_mesh,id_lng_mesh,pvrate,observed_max,pred,pred*two_weeks_max,nv*twoweeks_max,APE,nv_mesh
33579,2013,8,15,6,2,0.910,5577.6,1110000010,30,2013-08-15 06:30:00,35.66,140.1,20.0,18208.5904,0.691807,3858.624564,5075.6160,6.683611,0.873
42051,2013,8,15,6,2,0.892,5577.6,1110000011,30,2013-08-15 06:30:00,35.66,140.1,20.0,17715.6980,0.691807,3858.624564,4975.2192,6.302854,0.873
50523,2013,8,15,6,2,0.898,4934.4,1110000012,30,2013-08-15 06:30:00,35.66,140.1,20.0,17873.1820,0.691807,3413.654089,4431.0912,5.692535,0.873
58995,2013,8,15,6,2,0.901,4974.6,1110000013,30,2013-08-15 06:30:00,35.66,140.1,20.0,17745.7280,0.691807,3441.464744,4482.1146,5.864227,0.873
67467,2013,8,15,6,2,0.890,5688.2,1110000014,30,2013-08-15 06:30:00,35.66,140.1,20.0,17971.4106,0.691807,3935.138455,5062.4980,6.273072,0.873
75939,2013,8,15,6,2,0.886,5728.4,1110000015,30,2013-08-15 06:30:00,35.66,140.1,20.0,18188.3702,0.691807,3962.949109,5075.3624,6.116069,0.873
577783,2013,8,15,6,2,0.810,3707.2,6170000123,30,2013-08-15 06:30:00,35.66,140.1,16.5,13399.7864,0.691807,2564.668134,3002.8320,3.269932,0.873
586248,2013,8,15,6,2,0.810,958.4,6170000124,30,2013-08-15 06:30:00,35.66,140.1,9.0,3801.5978,0.691807,663.028145,776.3040,2.979691,0.873
594714,2013,8,15,6,2,0.863,3747.4,6170000125,30,2013-08-15 06:30:00,35.66,140.1,16.5,13654.1322,0.691807,2592.478788,3234.0062,4.698412,0.873

nv_mean 0.8733333333333333

In [44]:
df

,year,month,day,hour,flag,nv,two_weeks_max,id,minute,datetime,id_lat_mesh,id_lng_mesh,pvrate,observed_max,pred,pred*two_weeks_max,nv*twoweeks_max,APE,nv_mesh
0,2013,8,15,6,2,0.654,390.0,10000095,30,2013-08-15 06:30:00,35.74,140.00,4.0,958.4000,0.742706,289.655480,255.0600,3.609712,0.654
1,2013,8,15,7,0,0.000,0.0,10000095,0,2013-08-15 07:00:00,35.74,140.00,4.0,958.4000,0.660924,0.000000,0.0000,0.000000,NaN
2,2013,8,15,7,0,0.000,0.0,10000095,30,2013-08-15 07:30:00,35.74,140.00,4.0,958.4000,0.602417,0.000000,0.0000,0.000000,NaN
3,2013,8,15,8,2,0.840,659.0,10000095,0,2013-08-15 08:00:00,35.74,140.00,4.0,958.4000,0.820720,540.854454,553.5600,1.325704,0.840
4,2013,8,15,8,2,0.864,701.4,10000095,30,2013-08-15 08:30:00,35.74,140.00,4.0,958.4000,0.786851,551.897242,606.0096,5.646114,0.864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834478,2014,7,31,16,2,0.368,2135.8,6910000470,0,2014-07-31 16:00:00,35.82,139.88,8.8,8510.7022,0.719209,1536.086860,785.9744,8.813755,0.576
834479,2014,7,31,16,2,0.379,1406.4,6910000470,30,2014-07-31 16:30:00,35.82,139.88,8.8,8510.7022,0.615990,866.328730,533.0256,3.916282,0.498
834480,2014,7,31,17,2,0.383,915.4,6910000470,0,2014-07-31 17:00:00,35.82,139.88,8.8,8510.7022,0.693868,635.166584,350.5982,3.343653,0.406
834481,2014,7,31,17,2,0.463,512.0,6910000470,30,2014-07-31 17:30:00,35.82,139.88,8.8,8510.7022,0.731145,374.346040,237.0560,1.613146,0.482
834482,2014,7,31,18,2,0.509,201.0,6910000470,0,2014-07-31 18:00:00,35.82,139.88,8.8,8510.7022,0.731177,146.966619,102.3090,0.524723,0.524

In [40]:
list(lat.iloc[0][lat.iloc[0]==35.66].index),list(lon.iloc[:,0][lon.iloc[:,0]==140.10].index)

([223], [525])

In [41]:
df2

,223,224,225,226,227,228,229,230,231,232,233,234
515,0.73000,0.41700,0.65542,0.72541,0.74431,0.75389,0.69025,0.74000,0.77077,0.77572,0.74674,0.71044
516,0.75632,0.66100,0.67500,0.76300,0.72000,0.85000,0.55500,0.73800,0.81122,0.83600,0.75849,0.67894
517,0.78611,0.68943,0.61780,0.66783,0.67100,0.67903,0.58200,0.77275,1.00100,0.86050,0.79500,0.66950
518,0.81253,0.74180,0.54600,0.62353,0.73900,0.69979,0.70517,0.77000,0.84300,0.81000,0.72825,0.59900
519,0.84454,0.81284,0.67110,0.62931,0.62200,0.72177,0.79200,0.83800,0.88657,0.85095,0.75209,0.65100
520,0.88007,0.89500,0.73843,0.64480,0.65400,0.72414,0.78488,0.85331,1.00100,0.87538,0.77467,0.69400
521,0.89720,1.00000,0.76436,0.57200,0.67517,0.73400,0.78712,0.82500,0.87537,0.81033,0.74011,0.71593
522,0.90186,0.77500,0.74904,0.70400,0.72399,0.77057,0.81900,0.79967,0.80196,0.76020,0.74650,0.73658
523,0.95700,0.83348,0.75739,0.69978,0.74444,0.78875,0.79958,0.78152,0.75500,0.76498,0.76366,0.75921
524,0.86030,0.81951,0.78000,0.66700,0.76994,0.80182,0.80582,0.79711,0.78821,0.78981,0.78872,0.78120
525,0.87300,0.71200,0.75800,0.86000,0.82300,0.82153,0.82150,0.82093,0.81918,0.81942,0.81354,0.80112
526,0.85627,0.80260,0.79567,0.82100,0.82075,0.82403,0.82881,0.83717,0.84776,0.84972,0.83681,0.81940
527,0.88200,0.85262,0.83369,0.80200,0.81146,0.82001,0.82797,0.84131,0.86436,0.88032,0.85836,0.83547
528,0.85500,0.90100,0.85184,0.81368,0.80677,0.81178,0.81920,0.83173,0.85915,0.91300,0.87272,0.84583
529,0.78106,0.84653,0.84713,0.81864,0.80450,0.80073,0.80082,0.80340,0.81514,0.84717,0.85992,0.84340

In [42]:
df["nv_mesh*two_weeks_max"] = df["nv_mesh"] * df["two_weeks_max"]

In [43]:
df["APE"] = np.abs(df["nv_mesh*two_weeks_max"]-df["nv*twoweeks_max"])/df["observed_max"]*100

In [44]:
df["APE"].mean()

1.1460683604950679

# 欠損値補間のデータを抽出

In [54]:
unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]
to_unique_id = [str(num).zfill(10) for num in unique_id]

lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")
id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)

In [55]:
import datetime

start_date = datetime.datetime(2013, 8, 15, 6, 30)
end_date = datetime.datetime(2014, 7, 31, 18, 0)
# start_date = datetime.datetime(2014, 7, 1, 6, 30)
# end_date = datetime.datetime(2014, 7, 31, 18, 0)

delta = datetime.timedelta(minutes=30)

date_range = []
date = start_date
while date <= end_date:
    if date.hour > 6 and date.hour < 18:
        date_range.append(date)
    elif date.hour == 18 and date.minute == 0:
        date_range.append(date)
    elif date.hour == 6 and date.minute == 30:
        date_range.append(date)
    date += delta

In [5]:
mesh_data_list,pred_data_list = [],[]
for i,dt in enumerate(date_range):
    mesh_data = utils.get_interpolated_mesh(id_data,lat,lon,dt)
    mesh_data_list.append(mesh_data)
    mesh_data.to_csv(OUTPUT_DIR+f"interpolated_mesh_data_{dt.strftime('%Y%m%d%H%M')}.csv")
    if i%int(len(date_range)*0.1)==0:
        print(f"{i/len(date_range)*100}%_finish")

0.0%_finish
9.995251661918328%_finish
19.990503323836656%_finish
29.985754985754987%_finish
39.98100664767331%_finish
49.97625830959164%_finish
59.971509971509974%_finish
69.96676163342829%_finish
79.96201329534662%_finish
89.95726495726495%_finish
99.95251661918329%_finish

In [82]:
lat = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\lati_zenkoku.csv", header=None, index_col=None)
lon = pd.read_csv(r"H:\study\preprocessing_data\3_mesh_place\long_zenkoku.csv", header=None, index_col=None)
id_all_data = pd.read_csv(r"H:\study\preprocessing_data\id_all_data.csv", encoding="shift_jis")

unique_id = ['10000095', '10000269', '1020000002', '1110000001', '1110000010', '1110000011', '1110000012', '1110000013', '1110000014', '1110000015', '1160000025', '1160000090', '1160000091', '1160000182', '1160000185', '1160000253', '1160000387', '1160000402', '1160000419', '1160000420', '1160000423', '1270000026', '1280000048', '1550000001', '1650000004', '1680000001', '1680000002', '1680000003', '1680000004', '1680000010', '1680000017', '1680000021', '1680000033', '1680000047', '1680000054', '1680000057', '1680000063', '1680000067', '1680000080', '1680000081', '1680000097', '1680000107', '1680000108', '1680000112', '1680000151', '1680000152', '1680000213', '1680000216', '1680000217', '1680000218', '1680000223', '1680000228', '1680000285', '1680000287', '1680000327', '1680000364', '2220000001', '2220000002', '2220000003', '2730000001', '2910000002', '3000000007', '3000000012', '3000000042', '5000000044', '5000000045', '6000000016', '6000000017', '6060000016', '6060000017', '6060000018', '6170000016', '6170000123', '6170000124', '6170000125', '6620000065', '6620000066', '6620000088', '6620000089', '6620000111', '6620000117', '6620000118', '6620000121', '6620000122', '6620000123', '6620000124', '6620000131', '6620000132', '6910000180', '6910000198', '6910000200', '6910000206', '6910000216', '6910000217', '6910000239', '6910000240', '6910000249', '6910000250', '6910000421', '6910000424', '6910000425', '6910000469', '6910000470']
unique_id = [int(i) for i in unique_id]
id_data = id_all_data[id_all_data.id.isin(unique_id)].reset_index(drop=True)
id_data = utils.get_mesh_round(id_data)

min_lat,max_lat = id_data.id_lat_mesh.min(),id_data.id_lat_mesh.max()
min_lng,max_lng = id_data.id_lng_mesh.min(),id_data.id_lng_mesh.max()

userow = (lon.iloc[:,0]>=min_lng)&(lon.iloc[:,0]<=max_lng)
usecol = (lat.iloc[0]>=min_lat)&(lat.iloc[0]<=max_lat)
lat2 = lat.loc[userow,usecol]
lon2 = lon.loc[userow,usecol]

In [83]:
mesh_lat_lng = pd.DataFrame(zip(lat2.to_numpy().reshape(-1),lon2.to_numpy().reshape(-1)),columns=['id_lat_mesh','id_lng_mesh'])
mesh_lat_lng = utils.get_mesh_round(mesh_lat_lng )
mesh_lat_lng["num"] = mesh_lat_lng.index

In [84]:
id_data = id_data.merge(mesh_lat_lng, on=["id_lat_mesh", "id_lng_mesh"], how="left")
id_data

,id,id_lat,id_lng,id_lat_mesh,id_lng_mesh,id_prefecture,pvrate,observed_max,num
0,10000095,35.74936,139.99181,35.74,140.00,千葉県,4.00,958.4000,76
1,10000269,35.70910,139.95892,35.70,139.96,千葉県,1.32,1172.6680,50
2,1020000002,35.71960,140.11927,35.72,140.12,千葉県,5.75,5150.5454,147
3,1110000001,35.72058,140.02484,35.72,140.02,千葉県,9.20,8432.7546,87
4,1110000010,35.65682,140.09113,35.66,140.10,千葉県,20.00,18208.5904,132
...,...,...,...,...,...,...,...,...,...
98,6910000421,35.73048,139.95546,35.74,139.96,千葉県,18.70,17351.7300,52
99,6910000424,35.74582,139.92609,35.74,139.92,千葉県,14.30,11921.5224,28
100,6910000425,35.73509,139.94345,35.74,139.94,千葉県,14.30,12474.2618,40
101,6910000469,35.81466,139.88526,35.82,139.88,埼玉県,14.30,13329.5162,8
102,6910000470,35.81466,139.88526,35.82,139.88,埼玉県,8.80,8510.7022,8

In [97]:
use_meshnums = list(set(id_data.num.tolist()))
use_meshnums.sort()
np.save(OUTPUT_DIR+"use_meshnums.npy",np.array(use_meshnums))

In [98]:
t = np.load(OUTPUT_DIR+"use_meshnums.npy").tolist()

In [99]:
OUTPUT_DIR

'H:/study/output/StackingOpt/EDA005/'

In [75]:
idnums = id_data[id_data.num==use_nums[0]]
idnums

,id,id_lat,id_lng,id_lat_mesh,id_lng_mesh,id_prefecture,pvrate,observed_max,num
22,1280000048,35.77187,139.88996,35.78,139.88,千葉県,4.0,3314.2000,6
88,6910000180,35.77187,139.88996,35.78,139.88,千葉県,16.5,14431.3384,6

In [66]:
dt = datetime.datetime(2013, 8, 15, 6, 30)
mesh_data,pred_data = utils.get_prediction_data2(id_data,lat,lon,dt)

In [78]:
pred_data[(pred_data.id_lat_mesh==35.78)&(pred_data.id_lng_mesh==139.88)]

       pred  id_lat_mesh  id_lng_mesh            datetime
6  0.716889        35.78       139.88 2013-08-15 06:30:00

In [81]:
mesh_data.to_numpy().reshape(-1)[use_nums[0]]

0.71688944